services:
  db:
    container_name: postgres_es
    image: postgres:13.2-alpine
    restart: always
    environment:
      POSTGRES_DB: emergency
      POSTGRES_PASSWORD: pges
    ports:
      - 5432:5432
  adminer:
    container_name: adminer_es
    image: adminer
    restart: always
    ports:
      - 1080:8080
  rabbit:
    container_name: rabbit_es
    hostname: rabbit
    image: rabbitmq:3.8.14-alpine
    environment:
      RABBITMQ_DEFAULT_USER: rbes
      RABBITMQ_DEFAULT_PASS: rbes
    ports:
      - 5672:5672
      - 15672:15672
  zookeeper:
    container_name: zookeeper_es
    image: wurstmeister/zookeeper
    ports:
      - 2181:2181
  kafka:
    container_name: kafka_es
    image: wurstmeister/kafka
    ports:
      - 9092
    environment:
      DOCKER_API_VERSION: 1.22
      KAFKA_ADVERTISED_HOST_NAME: 192.168.99.100
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock